body{
    background-color: #103268;
    font-family: "Rubik";
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: white;
    
}

footer{
    background-color: #0E2D5D;
}

/* Style caractères */

h2{
    font-weight: 500;
    font-size:1.6667rem;
}

.listnone{
    list-style: none;
    padding: 0;
}

/*bouton */
.button{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18pt;
    color: white;
    background-color: #FF8400;
    border: 1px solid #FF8400;
    border-radius: 28px;
    padding: 18px 39px 16px 39px;
    box-shadow: 0px 6px 10px 3px rgba(255, 132, 0, 0.22);
}

.button:hover{
    cursor: pointer;
    color: black;
}

/* formulaire*/
.formulaire{
    border: 1px solid #DADADA;
    border-radius: 28px;
    padding: 17px 50px 17px 17px;
    width: 18.75rem;
    font-family: "Rubik";
    font-size: 1.25rem;

}