body{
    background-color: #103268;
    font-family: "Rubik";
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: white;
    
}

footer{
    background-color: #0E2D5D;
    margin: 0
}

/* Style caractères */

h2{
    font-weight: 500;
    font-size:1.6667rem;
}

.listnone{
    list-style: none;
    padding: 0;
}

.lineheight{
    line-height: 3rem;
}

/*bouton */
.button{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18pt;
    color: white;
    background-color: #FF8400;
    border: 1px solid #FF8400;
    border-radius: 28px;
    padding: 18px 39px 16px 39px;
    box-shadow: 0px 6px 10px 3px rgba(255, 132, 0, 0.22);
    margin-top: 1.75rem ;
    margin-left: 13rem;
}

.button:hover{
    cursor: pointer;
    color: black;
}

/* formulaire*/
.formulaire{
    border: 1px solid #DADADA;
    border-radius: 28px;
    padding: 17px 50px 17px 17px;
    width: 18.75rem;
    font-family: "Rubik";
    font-size: 1.25rem;
}

/* Flexbox */
.flex{
    display: flex;
}

.around{
    justify-content: space-around;
}

.between{
    justify-content: space-between;
}

.align-center{
    align-items:center ;
}

/* Margin & Padding & Taille*/
.width50{
    width: 50%;
    box-sizing: border-box;
}

.width20{
    width: 19.5rem;
    box-sizing: border-box;
}

.margin40{
    margin-left: 2.5rem;
}

.margin70{
    margin-left: 6.5rem;
}

.margin-r{
    margin-right: 19rem;
    margin-left: 19rem;
}

.marginb{
    margin-bottom: 8rem;
}

.height5{
    height: 5.9375rem;
}